{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Brad's Burgers</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Select Meat</h2>
            <button class="btn btn-warning">Meat 1</button>
            <button class="btn btn-warning">Meat 2</button>
            <button class="btn btn-warning">Meat 3</button>
            <button class="btn btn-warning">Meat 4</button>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <a href="{% url 'buns' %}" class="btn btn-primary">Back</a>
            <a href="{% url 'order' %}" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>
{% endblock content %}