{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Brad's Burgers</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <button class="btn btn-danger">Burger</button>
            <button class="btn btn-danger">Meal</button>
            <button class="btn btn-danger">Sides</button>
            <button class="btn btn-danger">Drinks</button>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <button class="btn btn-primary">Finish Order</button>
        </div>
    </div>
</div>
{% endblock content %}